@import "main";

#bio {
  text-align: center;
  margin-bottom: 30px;
  padding: 80px 40px;
  background: var(--color-primary);

  h1 {
    font-family: var(--title-font-family);
    color: var(--color-white);
    text-align: center;
    width: 80%;
    display: block;
    margin: 0 auto;
  }
}

#highlights {
  width: 50%;

  h1 {
    display: flex; justify-content: space-between; align-items: center;

    a {
      float: right; font-size: 16px; font-weight: 500; color: var(--color-text-dark);
    }
  }

  .project-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    
  
    article {
      padding: 32px 8px;
      flex: 0 50%;
    }
  
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
  
      border: 1px solid #25273c;
      border-radius: 4px;
    }
  
    h2 {
      font-size: 18px;
      margin: 20px 0 15px 0;
      color: var(--color-white);
    }
  }
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin-bottom: 10px;
    width: 50%;
  }
}

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin-bottom: 10px;
    width: 50%;
  }
}

#contact {
  display: flex;
  flex-direction: column;

  h1 {
    margin-bottom: 20px;
    text-align: center;
  }

  input, textarea {
    border: 1px solid #a1a1a1;
    border-radius: 4px;

    font-size: 14px;
    padding: 8px;
    margin: 7.5px auto;

    display: block;
    width: 50%;
    padding: 12px;

    font-family: var(--font-family);
    font-weight: 500;

    resize: vertical;
  }

  textarea {
    height: 100px;
    min-height: 100px;
  }

  button {
    padding: 12px 14px;
    background: var(--color-primary);
    color: var(--color-white);
    border: none;
    border-radius: 4px;

    margin: 10px auto;
    display: block;
    width: 120px;

    text-align: center;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 900px) {
  #contact {
    input, textarea {
      width: 100%;
    }
  }

  #about p, #skills p {
    width: 100%;
  }

  #highlights {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  #about p, #skills p {
    width: 75%;
  }

  #highlights {
    width: 75%;
  }
}