:root {
  --color-background: #313552;
  --color-text-dark: #eee6Ce;
  --color-title-dark: #1AA87B;
  --color-primary: #168d67;
  --color-secondary: #b8405e;
  --color-white: #dadada;
  --title-font-family: "Montserrat", serif;
  --font-family: "Rubik", sans-serif;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

a:hover {
  color: var(--color-primary);
}

body {
  font-family: var(--font-family);
}

section {
  width: 90%;
  margin: 0 auto;
  padding: 4rem 0;
}

section h1, section h2, section h3 {
  margin: 15px 0;
  color: var(--color-title-dark);
}

section p {
  line-height: 21px;
  color: var(--color-text-dark);
}

section p strong {
  font-weight: 500;
}

main {
  display: block;
  background: var(--color-background);
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 50px;
  background: var(--color-background);
  color: var(--color-text-dark);
  border-bottom: 4px solid var(--color-primary);
}

nav h2 {
  font-family: var(--title-font-family);
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
}

nav ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  line-height: 30px;
}

nav ul li {
  display: inline;
  margin-right: 15px;
  color: var(--color-text-dark);
}

nav a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 2px solid var(--color-background);
}

nav a:hover {
  border-bottom: 2px solid var(--color-primary);
}

footer {
  text-align: center;
  padding: 50px 50px;
  background: var(--color-background);
  color: var(--color-white);
}

footer ul {
  list-style: none;
  margin-bottom: 40px;
}

footer ul li {
  display: inline;
  margin: 0 5px;
}

footer p a {
  color: #fff;
}

@media screen and (max-width: 900px) {
  section {
    width: 80%;
  }
  #contact input, #contact textarea {
    width: 100%;
  }
  #about p, #skills p {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  #about p, #skills p {
    width: 75%;
  }
}

@media screen and (min-width: 901px) {
  section {
    width: 70%;
  }
}

#bio {
  text-align: center;
  margin-bottom: 30px;
  padding: 80px 40px;
  background: var(--color-primary);
}

#bio h1 {
  font-family: var(--title-font-family);
  color: var(--color-white);
  text-align: center;
  width: 80%;
  display: block;
  margin: 0 auto;
}

#highlights {
  width: 50%;
}

#highlights h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#highlights h1 a {
  float: right;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-text-dark);
}

#highlights .project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#highlights .project-list article {
  padding: 32px 8px;
  -webkit-box-flex: 0;
      -ms-flex: 0 50%;
          flex: 0 50%;
}

#highlights .project-list img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border: 1px solid #25273c;
  border-radius: 4px;
}

#highlights .project-list h2 {
  font-size: 18px;
  margin: 20px 0 15px 0;
  color: var(--color-white);
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about p {
  margin-bottom: 10px;
  width: 50%;
}

#skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#skills p {
  margin-bottom: 10px;
  width: 50%;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact h1 {
  margin-bottom: 20px;
  text-align: center;
}

#contact input, #contact textarea {
  border: 1px solid #a1a1a1;
  border-radius: 4px;
  font-size: 14px;
  padding: 8px;
  margin: 7.5px auto;
  display: block;
  width: 50%;
  padding: 12px;
  font-family: var(--font-family);
  font-weight: 500;
  resize: vertical;
}

#contact textarea {
  height: 100px;
  min-height: 100px;
}

#contact button {
  padding: 12px 14px;
  background: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  margin: 10px auto;
  display: block;
  width: 120px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (max-width: 900px) {
  #contact input, #contact textarea {
    width: 100%;
  }
  #about p, #skills p {
    width: 100%;
  }
  #highlights {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  #about p, #skills p {
    width: 75%;
  }
  #highlights {
    width: 75%;
  }
}
/*# sourceMappingURL=home.css.map */