@import "main";

section {
  padding: 3rem 0;

  h1, h2, h3 {
    text-align: center;
  }

  h3 {
    margin-top: 32px;
  }

  p, ul {
    margin: 8px auto;
    width: 50%;
  }

  ul {
    list-style: disc;
    list-style-position: outside;
    padding-left: 2em;
    line-height: 21px;
    color: var(--color-text-dark);

    li {
      margin-bottom: 5px;
    }
  }

  strong {
    font-weight: 500;
  }
}

.image-gallery {
  overflow: hidden;
  width: 75%;
  margin: 0 auto;

  figure {
    position: relative;
    width: 400%;
    margin: 0;
    left: 0;
    animation: 15s slider;

    img {
      width: 25%;
      float: left;

      max-width: 100%;
      min-height: 100%;
      object-fit: cover;
    }
  }
}

@keyframes slider {
  0% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  33% {
    left: -100%;
  }
  58% {
    left: -200%;
  }
  66% {
    left: -200%;
  }
  92% {
    left: -300%;
  }
  100% {
    left: -300%;
  }
}


.tags {
  ul {
    margin-top: 20px;
    list-style: none;
    padding: 10px;
    text-align: center;

    li {
      display: inline;
      color: var(--color-text-dark);
      margin: 0 2px;
      font-size: 15px;
    }
  }
}


@media screen and (max-width: 1200px) {
  section {
    p, ul {
      width: 85%;
    }
  }
}

@media screen and (max-width: 900px) {
  section {
    p, ul {
      width: 100%;
    }
  }

  .image-gallery {
    width: 100%;
  }
}